.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  // border: 1px solid red;
  .main {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .heading {
    // text-align: center;
    // border: 1px solid skyblue;
    font-size: 60px;
    span {
      font-size: 16px;
    }
  }
}
