.container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #556421;
  background-image: url("/curtain/curtain 01.0002_1.0001.png");
  display: flex;
  justify-content: center;
  align-items: center;
}
