.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 32px;
  max-width: 1366px;
  margin: 0 auto;
  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
    gap: 0;
  }
  // border: 1px solid red;
  .pinned {
    border: 1px solid transparent;
  }
  .animation {
    position: relative;
    display: flex;
    flex-direction: column;
    // transform: translateY(64px);
    .flasks {
      width: 100%;
      height: auto;
      // border: 1px solid yellow;
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 920px;
    margin: 0 auto 5vw;
  }
}
